<style>
	.speech-bubble {
	    background: #{{classroomInfo.colorTheme}} !important;
        color: #{{classroomInfo.colorTitle}} !important;
	}
	.speech-bubble:after {
	    border-color: #{{classroomInfo.colorTheme}} transparent !important;
	}
	.speech-bubble.top-right {
	    background: #{{lecture.color2 || classroomInfo.colorTheme}} !important;
	}
	.speech-bubble.top-right:after {
	    border-color: #{{lecture.color2 || classroomInfo.colorTheme}} transparent !important;
	}
	.bubble1 {
		background-image: url({{getFileURL(lecture.id)}});
		margin: 0px 0 0 40px;
	}
	.bubble2 {
		background-image: url({{getFileURL(lecture.id2)}});
		margin: 0px 39px -22px 0px;
	}
</style>
<div class="innerDiv container" ng-controller="BubbleLectureController">
    <p class="speech-bubble" ng-bind-html="sce.trustAsHtml(lecture.text)"></p>
    <div class="speech-actor bubble1"></div>
    <div ng-if="lecture.has2" class="speech-actor bubble2 right"></div>
    <p ng-if="lecture.has2" class="speech-bubble top-right" ng-bind-html="sce.trustAsHtml(lecture.text2)"></p>
</div>