<style type="text/css">
	.bs-callout-info {
	    border-left-color: #{{classroomInfo.colorTheme}} !important;
	}
	.checkbox-primary input[type="checkbox"]:checked + label::before, 
	.checkbox-primary input[type="radio"]:checked + label::before {
	    background-color: #{{classroomInfo.colorFont}} !important;
	    border-color: #{{classroomInfo.colorFont}} !important;
	}
	.checkbox-primary input[type="checkbox"]:checked + label::after, 
	.checkbox-primary input[type="radio"]:checked + label::after {
	    color: #{{classroomInfo.colorTheme}} !important;
	}
	.checkbox label::before {
	    border: 1px solid #{{classroomInfo.colorFont}} !important;
	}
	.btn-primary {
	    color: #{{classroomInfo.colorTitle}} !important;
	    background-color: #{{classroomInfo.colorTheme}} !important;
	    border-color: #{{classroomInfo.colorTheme}} !important;
	}
	.btn-default {
	    color: #{{classroomInfo.colorFont}} !important;
	    background-color: #{{classroomInfo.colorBackground}} !important;
	    border-color: #{{classroomInfo.colorTheme}} !important;
	}
	.pagination>li>a, 
	.pagination>li>span {
	    color: #{{classroomInfo.colorFont}} !important;
	    background-color: #{{classroomInfo.colorBackground}} !important;
	    border-color: #{{classroomInfo.colorTheme}} !important;
        cursor: pointer;
	}
	.pagination>.active>a, 
	.pagination>.active>a:focus, 
	.pagination>.active>a:hover, 
	.pagination>.active>span, 
	.pagination>.active>span:focus, 
	.pagination>.active>span:hover {
	    color: #{{classroomInfo.colorTitle}} !important;
	    background-color: #{{classroomInfo.colorTheme}} !important;
	    border-color: #{{classroomInfo.colorTheme}} !important;
	}
	.pagination>li>a.disabled {
	    opacity: .65;
	}
	.resultBox {
    	color: #{{classroomInfo.colorTheme}} !important;
	}
	.code {
    	color: #{{classroomInfo.colorTheme}} !important;
    	font-weight: bold;
	}
	.question-header,
	.question-option {
		color: #{{classroomInfo.colorFont}} !important;
	}
</style>
<div class="innerDiv container" ng-controller="FinalExamLectureController">
	<div id="intro" class="col-md-9" ng-show="!showPanel || showPanel == 'intro'">
		<div id="content">
			<h1></h1>
		</div>
		<div class="resultBox">
		    <div class="bs-callout bs-callout-info">
		        <h3 translate>COURSE_EXAM</h3>
		        <h4>{{classroomInfo.title}}</h4>
		        <p ng-show="lecture.expectedGrade" translate>NEEDS_APPROVAL_FOR_CERTIFICATE</p>
		        <ul class="margin-bottom-30">
		        	<li ng-show="lecture.questions.length > 1"><span translate>MULTIPLE_QUESTIONS_PRE</span> <span class="code">{{lecture.questions.length}}</span> <span translate>MULTIPLE_QUESTIONS_POST</span></li>
		        	<li ng-show="lecture.questions.length == 0"><span translate>SINGLE_QUESTION_PRE</span> <span class="code">{{lecture.questions.length}}</span> <span translate>SINGLE_QUESTION_POST</span></li>
		        	<li ng-show="lecture.isMultiple" translate>EXAM_HAS_MULTIPLE_CHOICE_QUESTIONS</li>
					<li ng-show="lecture.expectedGrade"><span translate>EXAM_TOTAL_SCORE_PRE</span> <span class="code">100</span> <span translate>EXAM_TOTAL_SCORE_POST</span></li>
					<li ng-show="lecture.expectedGrade"><span translate>EXAM_MINIMUM_SCORE_PRE</span> <span class="code">{{lecture.expectedGrade}}</span> <span translate>EXAM_MINIMUM_SCORE_POST</span></li>
		        	<li ng-show="lecture.expectedGrade" translate>EXAM_CAN_BE_DONE_AGAIN</li>
		        </ul>
		        <p ng-show="lecture.expectedGrade && currentScore && !isApproved" class="margin-bottom-30" translate>NECESSARY_TO_REDO_EXAM</p>
		        <p ng-show="currentScore && isApproved"><br><span translate>APPROVED_ON_EXAM</span></p>
		    	<p ng-show="currentScore" class=""><span translate>CURRENT_SCORE</span>: <span class="code">{{currentScore}}</span></p>
		        <button ng-if="currentScore" ng-click="startTest()" class="btn btn-primary btn-sm margin-top-30 text-uppercase" translate>REDO_THE_EXAM</button>
		        <button ng-if="!currentScore" ng-click="startTest()" class="btn btn-primary btn-sm margin-top-30 text-uppercase" translate>START_THE_EXAM</button>
		        <button ng-if="isApproved" ng-click="knlUtils.next()" class="btn btn-primary btn-sm margin-top-30 margin-left-30 text-uppercase" translate>ADVANCE</button>
		    </div>
		</div>
	</div>
	<div id="main" ng-show="showPanel == 'main'">
		<div class="row">
			<div class="text-center">
				<ul class="pagination pagination-sm">
					<li ng-repeat="question in lecture.questions" class="{{currentQuestionIndex == ($index) ? 'active' : ''}}" >
						<a ng-click="loadQuestion(($index))" a-disabled="!hasAccessToQuestion($index)">{{($index + 1)}}</a>
					</li>
				</ul>
			</div>
		</div>
		<br>
    	<span class="question-header" ng-bind-html="currentQuestion.text"></span>
		<form class="option-form" action="#" ng-hide="loading">
			<fieldset>
				<div class="checkbox checkbox-primary" ng-repeat="option in currentQuestion.options" >
					<input ng-model="option.selected" ng-click="clear(this.option)" id="checkbox{{$index}}" type="checkbox">
					<label for="checkbox{{$index}}" id="label_{{($index)}}">
						<span class="question-option" ng-bind-html="option.text"></span>
					</label>
				</div>
				<div id="resultWrapper">
					<button type="button" ng-if="currentQuestionIndex == lecture.questions.length - 1" ng-disabled="!hasAccessToQuestion(currentQuestionIndex + 1)" ng-click="finishTest()" class="btn btn-primary btn-sm text-uppercase" translate>FINISH</button>	
					<button type="button" ng-if="lecture.questions.length - 1 > currentQuestionIndex" ng-disabled="!hasAccessToQuestion(currentQuestionIndex + 1)" ng-click="loadNext()" class="btn btn-primary btn-sm text-uppercase" translate>NEXT</button>	
					<button type="button" ng-if="currentQuestionIndex >= 1" ng-click="loadPrevious()" class="btn btn-default btn-sm text-uppercase" translate>PREVIOUS</button>		
				</div>
			</fieldset>
		</form>
	</div>
	<div id="result" ng-show="showPanel == 'result'">
		<div class="resultBox">
		    <div class="bs-callout bs-callout-info">
		        <h3 ng-show="!isApproved" translate>TRY_AGAIN</h3>
		        <h3 ng-hide="!isApproved" translate>CONGRATULATIONS_APPROVED</h3>
		        <p></p>
		        <ul class="margin-bottom-30">
		        	<li><span translate>YOUR_SCORE</span>: <span class="code">{{cmiScoreRaw}}</span></li>
		            <li><span translate><span translate>EXAM_TOTAL_SCORE_PRE</span> <span class="code">100</span> <span translate>EXAM_TOTAL_SCORE_POST</span><</li>
		            <li><span translate>TOTAL_CORRECT_PRE</span> <span class="code">{{totalCorrect}}</span> <span translate>TOTAL_CORRECT_MID</span> <span class="code">{{questionCount}}</span> <span translate>{{lecture.questions.length > 1 ? 'TOTAL_CORRECT_POST_MULTIPLE' : 'TOTAL_CORRECT_POST'}}</span></li>
		        </ul>
		        <button type="button" ng-if="!isApproved" ng-click="init()" class="btn btn-primary btn-sm text-uppercase" translate>REDO_THE_EXAM</button>	
				<button type="button" ng-if="isApproved" ng-click="knlUtils.next()" class="btn btn-primary btn-sm text-uppercase" translate>ADVANCE</button>	
		    </div>
		</div>
	</div>
</div>