<style type="text/css">
	.checkbox-primary input[type="checkbox"]:checked + label::before, 
	.checkbox-primary input[type="radio"]:checked + label::before {
	    background-color: #{{classroomInfo.colorFont}} !important;
	    border-color: #{{classroomInfo.colorFont}} !important;
	}
	.checkbox-primary input[type="checkbox"]:checked + label::after, 
	.checkbox-primary input[type="radio"]:checked + label::after {
	    color: #{{classroomInfo.colorTitle}} !important;
	}
	.checkbox label::before {
	    border: 1px solid #{{classroomInfo.colorFont}} !important;
	}
	.btn-primary {
	    color:  #{{classroomInfo.colorTitle}} !important;
	    background-color: #{{classroomInfo.colorTheme}} !important;
	    border-color: #{{classroomInfo.colorTheme}} !important;
	}
	.question-header,
	.question-option,
	.question-alert {
		color: #{{classroomInfo.colorFont}} !important;
	}
	.alert {
		border: 1px solid #{{classroomInfo.colorTheme}};
	}
</style>
<div class="innerDiv container" ng-controller="QuestionLectureController">
    <br>
    <span class="question-header" ng-bind-html="lecture.text"></span>
    <form class="option-form" action="#">
		<fieldset>
			<div class="checkbox checkbox-primary" ng-repeat="option in lecture.options" >
				<input ng-model="option.selected" ng-click="clear($index)" id="checkbox{{$index}}" type="checkbox">
				<label for="checkbox{{$index}}" id="label_{{($index)}}">
					<span class="question-option" ng-bind-html="option.text"></span>
				</label>
			</div>
            <div id="resultWrapper">
				<button type="button" id="solve" ng-click="solve()" class="btn btn-primary btn-sm text-uppercase" translate>{{(answerCorrect === true ? "ADVANCE" : "VALIDATE") }}</button>	
	        	<div ng-show="answerCorrect === true" class="alert question-alert" translate>QUESTION_CORRECT_ANSWER</div>
				<div ng-show="answerCorrect === false" class="alert question-alert" translate>QUESTION_WRONG_ANSWER</div>
            </div>
		</fieldset>
    </form>
</div>