@import "skin.nocache.less";

@textHighlightColor: #019dd8;
@buttonActionGradientStart: #019dd8;
@buttonActionGradientEnd: #024d69;
@buttonSelectedGradientStart: @buttonNotSelectedGradientStart;
@buttonSelectedGradientEnd: @buttonNotSelectedGradientEnd;

.assetsWrapper {
	.modal{
		top: 140px;
		textarea {
			height: 100px;
		}
	}
	.buttonsBar{
		float: right;
		.btn {
			width: 12px;
			float: right; 
			margin-left: 8px;
		}
	}
	.assetWrapper {
		background: @tableBackgroundHoverColor !important;
	    padding: 10px;
	    margin-bottom: 10px;
	    border-radius: 5px;
	}
	.assetTitle {
		color: @textHighlightDiscreteColor;
	    font-weight: 700;
	    font-size: 16px;
	    padding-top: 10px;
    	margin-bottom: 20px;
	    float: left;
	}
	.assetText {
		i {
			float: left;
		    font-size: 20px;
		    margin-right: 10px;
		    margin-left: 3px;
		    color: @textHighlightColor;
		}
		clear: both;
		color: @niceTextColor;
		margin-bottom: 10px;
	}
	.hintDetails {
		font-size: 14px;
    	line-height: 23px;
	}
}