@import "skin.nocache.less";

@textHighlightColor: #d83447;
@buttonActionGradientStart: #d83447;
@buttonActionGradientEnd: #af0b1f; 
@buttonSelectedGradientStart: @buttonNotSelectedGradientStart;
@buttonSelectedGradientEnd: @buttonNotSelectedGradientEnd;
